<section id="sponsors" class="container-fluid text-center">
	<h2 class="text-center">SPONSORS</h2>
	<div class="container">
		<div class="row">
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/sportsbasement_logo.png" alt="Sports Basement" title="Sports Basement"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/devryuniv_logo.png" alt="Devry University" title="Devry University"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/bayclub_logo.png" alt="Sports Basement" title="Sports Basement"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/shanghai_logo.png" alt="上海家常菜(Shanghai Delight)" title="上海家常菜(Shanghai Delight)"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/traderjoes_logo.png" alt="Trader Joe's" title="Trader Joe's" />
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/tsinghua_logo.png" alt="清华(Tsing Hua)" title="清华(Tsing Hua University)"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/hammer_logo.png" alt="Hammer" title="Hammer"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/unionexpresstravel_logo.png" alt="Union Express Travel" title="Union Express Travel"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/fitgeeksports_logo.png" alt="Fit Geek Sports" title="Fit Geek Sports" />
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/xuchangfu_logo.png" alt="Xu Chang Fu" title="Xu Shi Fu"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/nulifedermspa_logo.png" alt="Nuli" title="Nuli"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/zombie_runner_logo.png" alt="Zombie Runner" title="Zombie Runner"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/wholefoods_logo.png" alt="Whole Foods" title="Whole Foods"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/ranch99_logo.png" alt="Ranch 99" title="Ranch 99"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/wfg_logo.png" alt="WFG" title="WFG"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/chinastix_logo.png" alt="China Stix" title="China Stix"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/eastbayregionalpark_logo.png" alt="East Bay Regional Park" title="East Bay Regional Park"/>
			<img class="col-xs-4 col-sm-3 col-md-2" src="img/sponsors/wqzwdt_logo.png" alt="Bay Area Chinese Radio" title="Bay Area Chinese Radio"/>
		</div>
	</div>
</section>
