<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>You Are The Best!</title>
    <!-- we'll combine these later into vender.bundle.min.js-->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-new-router/dist/router.es5.min.js"></script>
    <!-- we'll combine these later into app.bundle.min.js-->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="race" ng-controller="AppController">
    <div class="view-container">
        <h1>index</h1>
        <div home></div>
    </div>
</body>
</html>
